name: tests

on: [push, pull_request]

jobs:
  syntax-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Clone koji-ansible
      run: ./clone-koji-ansible
    - name: Install ansible
      run: |
        sudo apt-get update
        sudo apt-get purge ansible
        sudo apt-get install python3-setuptools
        pip3 install ansible --user
    - name: ansible-playbook syntax check
      run: |
        export PATH=$PATH:$HOME/.local/bin
        ansible-playbook -i localhost, setup-koji.yml --syntax-check
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Clone koji-ansible
      run: ./clone-koji-ansible
    - name: Install ansible-lint
      run: |
        sudo apt-get update
        sudo apt-get purge ansible
        sudo apt-get install python3-setuptools
        pip3 install ansible-lint[core] --user
    - name: Run ansible-lint
      run: |
        export PATH=$PATH:$HOME/.local/bin
        ANSIBLE_LIBRARY=library ansible-lint -x 106 -x 501 -v roles/*
  molecule:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Clone koji-ansible
      run: ./clone-koji-ansible
    - name: Install podman and molecule
      run: |
        . /etc/os-release
        echo "deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/ /" | sudo tee /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list
        curl -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/Release.key | sudo apt-key add -
        sudo apt-get update
        sudo apt-get purge ansible
        sudo apt-get install podman python3-setuptools
        sudo mkdir -p /etc/containers
        echo 'cgroup_manager="cgroupfs"' | sudo tee /etc/containers/libpod.conf
        pip3 install molecule[ansible,podman] --user
    - name: Run molecule
      run: |
        export PATH=$PATH:$HOME/.local/bin
        export ANSIBLE_MODULE_UTILS=$(pwd)/module_utils
        export ANSIBLE_LIBRARY=$(pwd)/library
        molecule test -s centos8
